<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        <input type="hidden" value="{{ csrf_token }}" name="csrf_token">
        <p>
            <label>
                E-mail
                <input type="email" name="email" placeholder="E-mail" value="{{ form_data.get('email', '') }}" required>
            </label>
        </p>
        <p>
            <label>
                Password
                <input type="password" name="password" placeholder="Password" value="{{ form_data.get('password', '') }}" required>
            </label>
        </p>
        <p>
            <button type="submit">Login</button>
            <a href="#">Registration</a>
        </p>
    </form>

{% if flash %}
    <ul>
        {% for message in flash.messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>