{% extends 'client/includes/base.html' %}

{% block title %}
    Челленджи
{% endblock %}

{% block content %}

    <header>
        {% if user %}
            <a href="#">
                <div class="header__div__1">
                    <picture class="ava__plug">
                        <img src="{{ url_for('static', path='client/img/smile.svg') }}" alt="">
                    </picture>
                    <h1>Челленджи</h1>
                </div>
            </a>
        {% else %}
            <a href="{{ url_for('welcome') }}">
                <div class="header__div__1">
                    <picture class="ava__plug">
                        <img src="{{ url_for('static', path='client/img/smile.svg') }}" alt="">
                    </picture>
                    <h1>Челленджи</h1>
                </div>
            </a>
        {% endif %}
    </header>

    <main>

        <!-- Категория с каруселью челленджей -->
        <div class="category__block">
            <h2>Спорт</h2>
            <div class="owl-carousel owl-theme categories">
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Категория с каруселью челленджей -->
        <div class="category__block">
            <h2>Спорт</h2>
            <div class="owl-carousel owl-theme categories">
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Категория с каруселью челленджей -->
        <div class="category__block">
            <h2>Спорт</h2>
            <div class="owl-carousel owl-theme categories">
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Категория с каруселью челленджей -->
        <div class="category__block">
            <h2>Спорт</h2>
            <div class="owl-carousel owl-theme categories">
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Карточка челленджа Маленькая -->
                    <div class="challenge__big__card mini__card" data-category-id="6">
                        <div class="challenge__big__card__cover">
                            <picture>
                                <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                            </picture>
                        </div>
                        <div class="challenge__big__card__text">
                            <div>
                                <h3>Готовлюсь к веломарафону 6</h3>
                                <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                                <ul>
                                    <li>Мой</li>
                                    <li>Спорт</li>
                                </ul>
                            </div>
                            <picture>
                                <img src="{{ url_for('static', path='client/img/heart.svg') }}" alt="">

                                <!-- Если челлендж добавлен в избранное -->
                                <!-- <img src="{{ url_for('static', path='client/img/heart__fill.svg') }}" alt=""> -->
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}