{% extends 'client/includes/base.html' %}

{% block title %}
    Мои планы
{% endblock %}

{% include 'client/includes/header.html' %}

{% block content %}
    <main>
        <h1>Мои планы</h1>

        <!-- Табы с категориями -->
        <div class="categories__tabs">
            <button class="active__category">Все</button>
            <button data-category-id="1">Спорт</button>
            <button data-category-id="2">Хобби</button>
            <button data-category-id="3">Лайфстайл</button>
            <button data-category-id="4">Привычка</button>
            <button data-category-id="5">Здоровье</button>
            <button data-category-id="6">Бизнес</button>
        </div>

        <!-- Контейнер со списком челленджей -->
        <div class="challenges__list">

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="1">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 1</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="10%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="2">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 2</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="33%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="3">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 3</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="91%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="4">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 4</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="76%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="5">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 5</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="27%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>

            <!-- Карточка челленджа Большая -->
            <div class="challenge__big__card" data-category-id="6">
                <div class="challenge__big__card__cover">
                    <span>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/fire.svg') }}" alt="">
                        </picture>
                        11
                    </span>
                    <picture>
                        <img src="{{ url_for('static', path='client/img/img1.png') }}" alt="">
                    </picture>
                </div>
                <div class="challenge__big__card__text">
                    <div>
                        <picture>
                            <img src="{{ url_for('static', path='client/img/more.svg') }}" alt="">
                        </picture>
                        <h2>Готовлюсь к веломарафону 6</h2>
                        <p>Буду проезжать каждый день по 20 км, а если не буду успевать, то переношу на следующий день</p>
                        <ul>
                            <li>Мой</li>
                            <li>Спорт</li>
                        </ul>
                    </div>
                    <div class="challenge__big__card__text__indicator">
                        <span data-percent="0%"></span>
                        <div>
                            <b>11</b> из 31 дней
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}