{% extends 'client/includes/base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Enter your Credentials</h1>
                <form method="post" class="needs-validation" novalidate>

                    <input type="hidden" value="{{ csrf_token }}" name="csrf_token">

                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="E-mail" value="{{ form_data.get('email', '') }}" required>
                        <label for="emailInput">E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password" value="{{ form_data.get('password', '') }}" required>
                        <label for="passwordInput">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 p-3">Продолжить</button>
                    <a href="{{ url_for('get_login_page') }}" class="btn btn-outline-primary p-3 w-100 mt-3">У меня уже есть аккаунт</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}