<header>
    {% if user %}
        <a href="#">
            <div class="header__div__1">
                <picture class="ava__plug">
                    <img src="{{ url_for('static', path='client/img/smile.svg') }}" alt="">
                </picture>
                <picture>
                    <img src="{{ url_for('static', path='client/img/fucha.svg') }}" alt="">
                </picture>
            </div>
        </a>
    {% else %}
        <a href="{{ url_for('welcome') }}">
            <div class="header__div__1">
                <picture class="ava__plug">
                    <img src="{{ url_for('static', path='client/img/smile.svg') }}" alt="">
                </picture>
                <picture>
                    <img src="{{ url_for('static', path='client/img/fucha.svg') }}" alt="">
                </picture>
            </div>
        </a>
    {% endif %}
</header>