<!-- Стили -->
<link rel="stylesheet" href="{{ url_for('static', path='client/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='client/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='client/css/fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='client/css/aos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='client/css/san_francisco.css') }}">

<!-- Скрипты -->
<script src="{{ url_for('static', path='client/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', path='client/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='client/js/fancybox.umd.js') }}"></script>
<script src="{{ url_for('static', path='client/js/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', path='client/js/jquery.maskedinput.js') }}"></script>
<script src="{{ url_for('static', path='client/js/scripts.js') }}"></script>
<script src="{{ url_for('static', path='client/js/gsap.js') }}"></script>
<script src="{{ url_for('static', path='client/js/aos.js') }}"></script>